.login {
  display: grid;
  place-items: center;
  height: 100vh;
  width: 100%;
}
.login > button {
  width: 300px;
  background: cornflowerblue;
  color: darkslateblue;
  font-weight: 800;
}
.login > button:hover {
  background: cornflowerblue;
  color: cornsilk;
}
.login > div > img {
  object-fit: contain;
  height: 300px;
}
